*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(5, 85, 5);
    border-style: solid;
    border-radius:15px;
    border-width:4px;
    border-color: rgb(11, 69, 69);


}
body{
    background-color: #b8c2cc;
}
#p1{
    color: rgb(3, 30, 3);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1.1em;
    font-style: italic;
    font-weight: bold;
    border: 3px dotted purple;
}
#p2{
    color: rgb(39, 30, 143);
}
#p3{
    color: rgb(207, 23, 23);
}


